*{
  margin: 0;
  padding: 0;
}

nav{
   background-color: #b4b4b4;
   text-align: center;
   padding: 8px;
}

nav li{
  display: inline-block;
  margin: 1px 13px;
  padding-top: 3px;
}

nav li a{
    color: white;
    text-decoration: none;
    font-family: arial;
}
 nav li:hover{
    text-decoration: underline;
}
@media screen and (max-width: 600px){

*{
  background-color: green;
}
}
